// define demo-local iconfonts
// like:
[class*=" ibps-icon-"],
[class^=ibps-icon-] {
  display: inline-block;
  font: normal normal normal 14px/1 IbpsIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
